{% extends "min_base.html" %}
{% load static %}

{% block body %}
{% block header %}
<a href="#main_content" class="keyboard_skip_link">Skip to main content</a>

<div class="ui one_time_messages container">
  {% for message in messages %}
  <div class="ui {% if message.tags %}{{ message.tags }}{% endif %} message">
    <i class="close icon"></i>
    {% if 'safe' in message.extra_tags %}{{ message|safe }}{% else %}<span>{{ message }}</span>{% endif %}
  </div>
  {% endfor %}
  <script>
    $('.message .close').on('click', function () {
      $(this).closest('.message').transition({ animation: 'fade down', onHide: function () { $(this).remove(); } });
    });
  </script>
</div>
{% endblock %}
<div id="main_content" class="body_wrapper">
  {% block content %}{% endblock %}
</div>
{% block footer %}
<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui divided inverted grid">
      <div class="sixteen wide column">
        <!--
        <div class="ui inverted tiny link list">
          <a href="https://doc.ic.uk.cate.ac/" class="item">doc.ic.uk.cate.ac</a>
          <a href="https://cate.doc.ic.ac.uk/" class="item">cate.doc.ic.ac.uk</a>
        </div>
        -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% endblock %}