<!DOCTYPE html>
{% load static i18n %}
<html lang="en">

<head id="__head__">
  <meta charset="utf-8" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <meta name="description" content="DRP Group 49 (Imperial College London DoC undergraduate)" />
  <title>{% block title %}Default page title{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css" />
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/github.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css"
    integrity="sha384-3UiQGuEI4TTMaFmGIZumfRPtfKQ3trwQE2JgosJxCnGmQpL/lJdjpcHkaaFwHlcI" crossorigin="anonymous" />
  <link rel="stylesheet" href="{% static 'geometry.css' %}" />
  <link rel="stylesheet" href="{% static 'styles.css' %}" />
  <script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/highlight.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.js"
    integrity="sha384-G0zcxDFp5LWZtDuRMnBkk3EphCK1lhEf4UEyEM693ka574TZGwo4IWwS6QLzM/2t"
    crossorigin="anonymous"></script>
  <script src="{% static 'geometry-css2d.js' %}"></script>
  <script src="{% static 'geometry.js' %}"></script>
  <script src="{% static 'scripts.js' %}"></script>
  <!-- <link rel="shortcut icon" type="image/x-icon" href="{# static 'favicon.ico' #}" /> -->
  <!-- <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' /> -->
</head>

<body>
  {% block body %}{% endblock %}
</body>

</html>