{% extends "base.html" %}
{% load static %}

{% block title %}
My profile
{% endblock %}

{% block content %}
<!-- https://stackoverflow.com/questions/572768/styling-an-input-type-file-button -->
<!--
<style>
  input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
</style>
-->

<div class="section">
  <img class="ui small avatar image" src="{{ user.profile.get_avatar }}" alt="{{ user.get_username }}'s avatar" />
  <h1 style="unicode-bidi: embed;">{{ user.get_username }}</h1>
  <ul class="ui list">
    <div class="item"><i class="calendar alternate icon"></i>
      <div class="content">Last login: {{ user.last_login }}</div>
    </div>
    <div class="item"><i class="calendar alternate icon"></i>
      <div class="content">Date joined: {{ user.date_joined }}</div>
    </div>
  </ul>
  <!--
  <form class="ui form" action="{% url 'accounts:me' %}" method="post">
    {% csrf_token %}
    <h3 class="ui dividing header">Change your email:</h3>
    <div class="field">
      <label>New email address</label>
      <input type="email" name="email" placeholder="New email address" value="{{ user.email }}" /></p>
    </div>
    <input class="ui button primary" type="submit" value="Send verification link" name="submit" />
  </form>
  -->
</div>

<div class="section">
  <p><strong>The following information will be publicly visible:</strong>
  <p>

  <form class="ui form" action="{% url 'accounts:me' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h3 class="ui dividing header">Change your avatar:</h3>
    <div class="field">
      <!--
      <label for="image_upload" class="ui button">Choose a picture...</label>
      <input type="file" id="image_upload" name="image_upload" />
      -->
      <input type="file" value="Choose a picture..." name="image_upload" />
    </div>
    <input class="ui button primary" type="submit" value="Confirm changes" name="submit" />
  </form>

  <form class="ui form" action="{% url 'accounts:me' %}" method="post">
    {% csrf_token %}
    <h3 class="ui dividing header">Edit your information:</h3>
    <div class="field">
      <label>Name</label>
      <div class="two fields">
        <div class="field"><input type="text" name="last_name" placeholder="Last name" value="{{ user.last_name }}" />
        </div>
        <div class="field"><input type="text" name="first_name" placeholder="First name"
            value="{{ user.first_name }}" /></div>
      </div>
    </div>
    <div class="field">
      <label>Bio</label>
      <textarea style="resize: vertical;" name="bio"
        placeholder="You may write a short description about yourself, or whatever you want other people know..."
        rows="15">{{ user.profile.bio }}</textarea>
    </div>
    <input class="ui button primary" type="submit" value="Confirm changes" name="submit" />
  </form>
</div>

<div class="section">
  <a class="ui button" href="{% url 'accounts:index' %}">Go back</a>
</div>

{% endblock %}