{% extends "base.html" %}
{% load static %}

{% block title %}
Sign up
{% endblock %}

{% block content %}
<div class="section" id="vue_app_content">
  {% if redirect %}<p>Please log in to see this page.</p>{% endif %}
  <p v-if="error_message"><strong>[[ error_message ]]</strong></p>

  <form class="ui form" method="post" action="{% url 'accounts:signup' %}" v-on:submit="submitCheck">
    {% csrf_token %}
    <div class="field">
      <label>Username</label>
      <input type="text" name="username" v-model="username" placeholder="Username" />
    </div>
    <div class="field">
      <label>Email (optional)</label>
      <input type="text" name="email" v-model="email" placeholder="Email (optional)" />
    </div>
    <div class="field">
      <label>Password</label>
      <input type="password" name="password" v-model="password" placeholder="Password" />
    </div>
    <div class="field">
      <label>Repeat Password</label>
      <input type="password" v-model="password_repeat" placeholder="Repeat Password" />
    </div>
    <div class="inline field">
      <div class="ui checkbox">
        <input id="agree_to_terms" type="checkbox" tabindex="0" />
        <label for="agree_to_terms">I agree to the <a href="{# url 'main:terms_of_use' #}">Terms
            of Use</a> and <a href="{# url 'main:privacy_policy' #}">Privacy Policy</a></label>
      </div>
    </div>
    <!-- <p><img src="..." class="image" id="captchaImage" /></p> -->
    <!-- <p><input type="text" name="captcha" placeholder="Captcha (case insensitive)" /></p> -->
    <a class="ui button" href="{% url 'accounts:index' %}">Go back</a>
    <input class="ui button primary" type="submit" value="Sign up" />
    <input type="hidden" name="redirect" value="{{ redirect }}" />
  </form>

  <p><a href="{% url 'accounts:login' %}{% if redirect %}?redirect={{ redirect }}{% endif %}">Already have an
      account?</a></p>
</div>

<script>
  Vue.createApp({
    delimiters: ['[[', ']]'],
    data() {
      return {
        username: '',
        email: '',
        password: '',
        password_repeat: '',
        error_message: '{% if error_message %}{{ error_message }}{% endif %}',
      };
    },
    methods: {
      submitCheck(e) {
        if (this.username == '') {
          e.preventDefault();
          this.error_message = 'Username must not be empty.'
          return false;
        }
        if (this.password != this.password_repeat) {
          e.preventDefault();
          this.error_message = 'Two passwords are different.'
          return false;
        }
        return true;
      }
    }
  }).mount('#vue_app_content');
</script>
{% endblock %}