# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3*

# Local static and media file folders for debugging:
static_root/
media_root/

# Google
credentials.json
token.pickle
*.ipynb

# Foreign API responses
*.json